        <div id="box0"  class="block">
            
            <div class="blocktext">
                <img id="logo-vegan" src="imagesDesktop/pngkit_vegan-logo-png_1292040.png" alt="vegan logo">
                <div class="text">
                    <h1> Welcome to Embrasser la Terre,  oujours plus vert.</h1>
                    <p> Established on St. Antônio de Lisboa Street in Florianópolis/Brazil, <strong>Embrasser La Terre</strong> is a innovative plant-based cuisine.</p>
                    <br>
                    <p>Here you can taste the best meat-free meals. <br> Only seasonally and locally available ingredients are used by our chefs.</p>
                </div>
            </div>

            <div class="blockimg">
                <img src="imagesDesktop/inside-building.jpg" alt="inner space">
            </div>

       </div>      
       
        <div id="box1"  class="block">

            <div class="blockimg">
                <img src="imagesDesktop/presentation-food.jpg" alt="presentation food plate">
            </div>

            <div class="blocktext">
                <h1>It's all about organics...</h1>
                <p>We praise the use of organic and fresh ingredients. </p>
                <br>
                <p> We value a free-pesticide world, by honoring local family farmers fairs.
                </p>
                <br>
                <p><img id="free-pesticide-icon" src="imagesDesktop/pesticide-free-icon.png" alt=" pesticide free icon"></p>
                
            </div>

        </div>

        <div id="box2" class="block">

            <div class="blocktext">

                <div>
                    <img id="coffee" src="imagesDesktop/coffee.png" alt="">
                    <h1>Feel at home. </h1>

                    <p>Our inner space is cozy enough to make you feel at home.</p>
                    <br>
                    <p>With a combination of the best renowned wines and tasty brazilian sauces, you will enjoy a flavor trip while embracing the best sunset at the island.</p>
                    <br>
                    <p>Come enjoy our chef's clay cooking pot speciallized tecnique. </p>
                 </div>
                                    
            </div>
            
            <div class="blockimg">
                <img src="imagesDesktop/inside--building-orange.jpg" alt="cozy inner space">
            </div>
            </div>

            <div id="box3"  class="block">

                <div class="blockimg">
                    <picture>
                        <source media="(max-width: 600px)" srcset="imagesMobile/inside-building-night.jpg" type="image/jpg">
                        <img src="imagesDesktop/inside-building-night.jpg" alt="inner lights">
                    </picture>
                </div>
                
                <div class="blocktext">
                    <img id="leafs" src="imagesDesktop/pngwing.com (2).png" alt="leafs">
                   <div class="reservation">
                       
                       <ul type="none">

                           <li><b>RESTAURANT OPENING TIMES</b></li>
                           <b>
                               <li>-Mondays to Fridays</li>
                           </b>
                           <li>11:00am - 0:00am</li>
                           <b>
                               <li>-Saturdays and Sundays</li>
                           </b>
                           <li>10:00 - 01:00</li>
                           
                           
                         </ul>
                   </div>
                </div>

            </div>


        </div>
        

