<div class="container">
    
<div class="container-menu">
    <div class="menu">
        
        <h2 class="menu-group-heading">
            <i>Entrée</i>
        </h2>
        <div class="menu-group">
            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/veggies-boat.jpg" alt="veggies boat">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Tropicalia Boat</span>
                        <span class="menu-item-price">R$ 35,00</span>
                    </h3>
                    <p class="menu-item-description"> A refreshing entrée, made with cucumber, palm heart, cherry tomato, olives, sunflower seeds and bread. All of that accompanied of our special sauce.</p>  
                
                </div>
            </div>

            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/green-bowl.jpg" alt="green bowl">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Green Bowl</span>
                        <span class="menu-item-price">R$ 25,00</span>
                    </h3>
                    <p class="menu-item-description"> A mix of green vegetables. It is madeof  cucumber, brocolis, lettuce, pod, avocado and oarsley. This is a flesh way to start your journey in our restaurant.</p>  
                
                </div>
            </div>

            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/green-salad.jpg" alt="green salad">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Green Salad</span>
                        <span class="menu-item-price">R$ 20,00</span>
                    </h3>
                    <p class="menu-item-description"> Made of a mix of colorful tropical vegetables, such as cherry tomatoes, carrots, lettuce, cucumber, mango, chickpea and bloody orange.</p>  
                
                </div>
            </div>
        </div>

        <h2 class="menu-group-heading">
            <i>Main</i>
        </h2>
        <div class="menu-group">
            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/orange-pizza.jpg" alt="orange pizza">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Rucullini</span>
                        <span class="menu-item-price">R$ 75,00</span>
                    </h3>
                    <p class="menu-item-description"> A arugula with sun-dried tomatoes pizza. This is a special recipe.</p>  
                
                </div>
            </div>
            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/seeds-pizza.jpg" alt="seeds pizza">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Nordeste</span>
                        <span class="menu-item-price">R$ 70,00</span>
                    </h3>
                    <p class="menu-item-description"> A pizza made of a mix of seeds, nuts, tomatoes, onions, garlic, mozzarella cheese, fresh vegetables, salt and extra-virgin olive oil.</p>  
                
                </div>
            </div>
            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/bean-pizza.jpg" alt="bean pizza">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Falafel Paradise</span>
                        <span class="menu-item-price">R$ 60,00</span>
                    </h3>
                    <p class="menu-item-description"> A tropical flavoured pizza, made with chickpea, garlic, mozzarella cheese, fresh avocados, basil, salt and extra-virgin olive oil.</p>  
                
                </div>
            </div>
            
            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/marguerita-pizza.jpg" alt="marguerita pizza">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Marguerita</span>
                        <span class="menu-item-price">R$ 60,00</span>
                    </h3>
                    <p class="menu-item-description"> A typical Neapolitan pizza, made with San Marzano tomatoes, mozzarella cheese, fresh basil, salt and extra-virgin olive oil.</p>  
                
                </div>
            </div>
        </div>

        <h2 class="menu-group-heading">
            Special Drinks
        </h2>
        <div class="menu-group">
            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/green-drink.jpg" alt="green drink image">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Ice Mint</span>
                        <span class="menu-item-price">R$ 15,00</span>
                    </h3>
                    <p class="menu-item-description">It consists of raw green leafy vegetables, such as spinach, kale, swiss chard, collard greens, celery, and parsley, with the remaining ingredients being mostly or entirely fruit. </p>  
                
                </div>
            </div>
            
            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/purple-drink.jpg" alt="marguerita pizza">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Purple Haze</span>
                        <span class="menu-item-price">R$ 20,00</span>
                    </h3>
                    <p class="menu-item-description"> It's one of the more pleasant purple haze recipes because it builds on the popular vodka-cranberry base that is the Cape Cod. The liqueur adds a sweetness that intensifies the drink's fruitiness.</p>  
                
                </div>
            </div>
        </div>

        <h2 class="menu-group-heading">
            Desserts
        </h2>
        <div class="menu-group">
            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/pink-dessert.jpg" alt="pink dessert image">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Pink Haze</span>
                        <span class="menu-item-price">R$ 10,00</span>
                    </h3>
                    <p class="menu-item-description">A summer vibes dessert. It is made of frozen strawberries that create a jammy, juicy summer pudding, topped with nuts and cherries.</p>  
                
                </div>
            </div>

            <div class="menu-item">
                <img class = "menu-item-image" src="imagesDesktop/brown-dessert.jpg" alt="brown dessert image">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Cocoa Nuts Brownie</span>
                        <span class="menu-item-price">R$ 10,00</span>
                    </h3>
                    <p class="menu-item-description">This is our special dessert. These are easy fudgy brownies with crunchy walnuts. It is a homemade chewy brownie recipe with cocoa powder, walnuts, and common pantry ingredients! We're pretty sure you will love it! </p>  
                
                </div>
            </div>

        
        </div>
        


    </div>
    
</div>
  







        
</div>