<div class="organic-container">

    <!-- <img id="sustain-logo" src="imagesDesktop/sustain-logo.png" alt="">  -->

    <div class="organic-text">
        
        <h1> We Believe in SUSTAINABILITY</h1>
        
        <br>
        <p>Embrasser Foundation operates the St. Antônio Farm, its 2.5-acre full-production urban farm on Ratones in Florianópolis, as well as several off-farm educational programs and urban gardens throughout the local community. With the help of volunteers, community service and faith organizations, corporations, interns, and local educational and business partnerships, the St. Antônio Farm operates as a sustainable site that produces locally-grown vegetables that are distributed through farmers’ markets, food pantries, a farm membership program, and local restaurants, including ours. It embodies St. ANtônio Farm's long-term commitment to sustainable green development and preservation of open spaces in an urban environment.</p>
    </div>

    <div class="div-organic">


        <div id="organic-box-1" class="organic-item">
            <img id="tomato" class = "organic-image" src="imagesDesktop/tomato-fair.jpg" alt="tomato fair image">
        </div>
       
        <div id="organic-box-2" class="organic-item">
            <img id="carrots" class = "organic-image" src="imagesDesktop/carrots.jpg" alt="carrots image">
        </div>

        <div id="organic-box-3" class="organic-item">
            <img src="imagesDesktop/market.jpg" alt="market image">
        </div>

        <div id="organic-box-4" class="organic-item">
            <img id="inside-market" class = "organic-image" src="imagesDesktop/inside-market.jpg" alt="inside market image">
        </div> 
     
    </div>



</div>